{% extends 'base.html.twig' %}

{% block title %}Formateur{% endblock %}

{% block body %}
    <h1>Formateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ formateur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ formateur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ formateur.prenom }}</td>
            </tr>
            <tr>
                <th>Disponibilite</th>
                <td>{{ formateur.disponibilite ? formateur.disponibilite|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('formateur_index') }}">back to list</a>

    <a href="{{ path('formateur_edit', {'id': formateur.id}) }}">edit</a>

    {{ include('formateur/_delete_form.html.twig') }}
{% endblock %}
